/**
 * Font REM
 * -- convert and output px and rem
 * -- font-rem( $font-size-px )
 */
@mixin font-rem( $font-size-px ) {
	$rem-font-size: ( $font-size-px / $reset-font-divider );

	font-size: #{$font-size-px}#{'px'};
	font-size: #{$rem-font-size}#{'rem'};
}

/**
 * Transition
 */
@mixin css-transition( $thing-to-transition: all, $transition-time: $default-transition-time, $transition-type: $default-transition-type ) {
	transition: $thing-to-transition $transition-time $transition-type;
}

/**
 * Responsive Media Query Helpers
 * -- responsiveQuery(xs)
 * -- responsiveQuery("(min-width: 100em)")
 */
@mixin responsiveQuery($media: null,$number: null) {
	@if $number != null {
		@media only screen and (min-width: $number){ @content; }
	}

	// MOBILE
	@else if $media == xs or $media == 480 {
		@media only screen and (min-width: 30em)   { @content; } // 480
	}

	// PHABLET / SMALL TABLET / NETBOOK / SMALL SCREEN
	@else if $media == s or $media == 600 {
		@media only screen and (min-width: 37.5em) { @content; } // 600
	}
	@else if $media == m or $media == 768 {
		@media only screen and (min-width: 48em)   { @content; } // 768
	}
	@else if $media == xm or $media == 960 {
		@media only screen and (min-width: 60em)   { @content; } // 960
	}

	// DESKTOP / LARGE TABLET
	@else if $media == l or $media == 1024 {
		@media only screen and (min-width: 64em)   { @content; } // 1024
	}

	// MASSIVE SCREEN
	@else if $media == xl or $media == 1280 {
		@media only screen and (min-width: 80em)   { @content; } // 1280
	}
	@else if $media == xxl or $media == 1440 {
		@media only screen and (min-width: 90em)   { @content; } // 1440
	}
	@else if $media == xxxl or $media == 1680 {
		@media only screen and (min-width: 105em)   { @content; } // 1680
	}
	@else if $media == final or $media == 1920 {
		@media only screen and (min-width: 120em)  { @content; } // 1920
	}
	@else if $media == retina {
		@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { @content; } // retina
	}

	// OTHER
	@else {
		@media only screen and #{$media} { @content; } // anything else
	}
}


/**
 * Function for dynamic background colors (using variables set in _variables.scss)
 */
 @mixin variableBackground($backgroundcolor,$textcolor){
	background-color: $backgroundcolor;
	color: $textcolor;
}


/**
 * Function for dynamic padding classes
 *
 * You will want to set up your elements like so:
 * <div class="pa__1">, <div class="pt__2 pb__2">, etc.
 *
 * The below mixin dynamically creates CSS based off of the $base-padding-gutter set
 * in the _variables.scss file (multiplies it by the $i variable)
 */
$padding-count: 10;
$padding-prefixes : (
    p : padding,
    pt : padding-top,
    pb : padding-bottom,
    pl : padding-left,
    pr : padding-right,
) !default;
@mixin padding-styles($prefixes) {
    @for $i from 1 through $padding-count {
        @each $attr-short, $attr-long in $prefixes {
            .#{$attr-short}__#{$i} {
                #{$attr-long}: $base-padding-gutter * $i;
            }
        }
    }
}
@include padding-styles($padding-prefixes);