/* Principal Colors */
$primary-color: #773208 !default; /* Dark reddish brown */
$secondary-color: #000000 !default;
$tertiary-color: #94ca79 !default; /* Celadon */

/* Supporting Colors */


/* Monochrome Colors */
$black: #000000 !default;
$gray-dark: #636363 !default;
$gray: #d2d2d2 !default;
$gray-light: #aeaeae !default;
$white: #ffffff !default;

/* Link Colors */
$link-color: $primary-color !default;
$link-color-hover: $tertiary-color !default;



/* Typeface */
$primary-font-family: 'Fanwood Text', serif !default;
$secondary-font-family: 'Assistant', sans-serif !default;


/* Font Sizing */
$reset-font-divider: 10;
$reset-font-size: ( 100 / 16 ) * $reset-font-divider !default;
$base-font-size: 16 !default;
$base-font-size-calc: 0.4em !default; // used for calculations
$base-line-height: 1.6 !default;
$line-height-computed:    ($base-font-size-calc * $base-line-height) !default; // ~25px


/* Font Styles */
$base-font-family: $secondary-font-family !default;
$base-font-color: $black !default;
$base-text-align: left !default;


/* Heading Styles */
$heading-font-sizes-small: (
	'h1': 40,
	'h2': 24,
	'h3': 20,
	'h4': 18,
	'h5': 16,
	'h6': 14
);

$heading-font-sizes-medium: (
	'h1': 48,
	'h2': 28,
	'h3': 22,
	'h4': 18,
	'h5': 16,
	'h6': 14
);

$heading-font-sizes-large: (
	'h1': 60,
	'h2': 40,
	'h3': 29,
	'h4': 24,
	'h5': 18,
	'h6': 16
);



/* Page Sizing */
$base-max-width: 100% !default;
$base-page-gutter: 20px !default;
$base-grid-gutter: 30px !default;
$base-padding-gutter: 10px !default;



/* Blockquote */
$blockquote-font-size:     14px !default;
$blockquote-border-color:  $gray-light !default;
$blockquote-small-color:   $gray-light !default;



/* Miscellaneous */
$highlight-background-color: $secondary-color !default;
$highlight-text-color: $white !default;
$hr-color: $gray-light !default;



/* Transitions */
$default-transition-time: 0.3s;
$default-transition-type: ease;