.about-block {
	padding-bottom: 120px;

	.grid {
		background-repeat: no-repeat;
		background-size: cover;
		background-clip: padding-box;
		background-position: top center;
		margin-left: 0;

		@include responsiveQuery(l) {
			margin-right: 15%;
		}
	}

	&__content {
		color: $white;
		padding: 45px;
		background: rgba(119, 50, 8, 0.3);

		p {
			line-height: 2em;

			@include responsiveQuery(l) {
				line-height: 2.5em;
			}
		}

		.btn {
			margin-top: 30px;
		}
	}

	img {
		display: none;

		@include responsiveQuery(l) {
			display: inline-block;
			margin-right: -45%;
		}
	}
}