.blog-block {
	padding-bottom: 120px;
	&__post {
		padding: 0 0 40px;
	}
	
	&__title {
		.h3 {
			padding-bottom: 5px;
			border-bottom: 1px solid $primary-color;
		}
		p {
			padding-top: 5px;
		}
	}

	
	&__excerpt {
		&:first-letter {
			color: $primary-color;
			float: left;
			font-family: $primary-font-family;
			font-size: 75px;
			line-height: 60px;
			padding-top: 4px;
		 	padding-right: 4px;
			padding-left: 3px;
			text-shadow: 3px 1px 3px rgba(0, 0, 0, 0.3);
		}
	}

	.btn {
		margin: 20px 0;
	}
}