.footer-block {
	padding: 60px 0;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 46%;
	color: $white;
	@include responsiveQuery(m) {
		padding-bottom: 140px;
	}

	h2 {
		color: $white;
	}

	&__content {
		position: relative;
        z-index: 1;
        height: 100%;
        text-shadow: 8px 3px 10px #000;
	}
	p {
		margin: 20px auto;
	}

	a.link--white {
		color: $white;
		text-decoration: underline !important;
		&:hover {
			color: $tertiary-color;
		}
	}
}