.portfolio-block {
	padding: 0 20px 120px;

	h2 {
		padding-bottom: 15px;
	}

	* {
		min-height: 0;
		min-width: 0;
	}
}

.project--card {
	box-shadow: 0px 1px 15px 4px rgba(0,0,0,0.4);

	.h3 {
		padding: 10px 0;
	}

	@include responsiveQuery(l) {
		display: flex;
	}
}

.right-half, .slider-big {
	display: block;
	@include responsiveQuery(l) {
		flex: 1;
		width: 50%;
	}
}

.right-half {
	@include responsiveQuery(l) {
		display: flex;
		flex-flow: column nowrap;
	}
}
.slider {
	
	&-big img {
		width: 100%;
		height: auto;
	}

	&-content, &-nav {
		margin: 0;
		width: 100%;
	}

	&-content {
		padding: 20px 25px 10px;
	}

	&-nav {
		margin-top:auto;
		margin-bottom: 30px;
		padding: 20px 50px;

		@include responsiveQuery(l) {
			margin-bottom: 15px;
		}
		img {
	    	padding: 0 2px;
	    	width: 100%;
	    	height: auto;
		}

		.slick-slide:not(.slick-current) {
			transition: opacity 0.3s linear;
			opacity: 0.6;

			&:hover {
				opacity: 1;
			}
		}
	}
}