.project-content {
	margin-top: 60px;

	.slider-project {
		padding-bottom: 60px;
		.caption {
			padding-top: 10px;
		}

		.slick-slide {
			text-align: center;
			
			img {
				max-height: 600px;
				display: inline-block;
			}
		}
	}
}

.related_projects {
	margin-top: 60px;

	h3 {
		margin-bottom: 20px;
	}

	.btn {
		margin-top: 30px;
	}
}