.slick-prev::before, .slick-next::before {
	font-family: FontAwesome;
	color: $primary-color;
	font-weight: bold;
	font-size: 30px;
}
.slick-prev::before {
	content: "\f104";
}
.slick-next::before {
	content: "\f105";
}

.slider-nav, .slider-cat {
	.slick-prev {
		left: 15px;
	}
	.slick-next {
		right: 15px;
	}
}

.slick-slide {
	outline: none;
}