/* Font Families */
.ff-primary{
	font-family: $primary-font-family;
}
.ff-secondary{
	font-family: $secondary-font-family;
}


/* Text Alignment */
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/* Text Styles */
.text-uppercase {
    text-transform: uppercase;
}
.text-smallcaps {
	font-variant: small-caps;
}

.bg{
	&--black{
		@include variableBackground(#000,#fff);
	}
}




/* Position Utilities */
.position-rel {
	position: relative;
}
.position-abs {
	position: absolute;
}


/* Visibility Utilities */
.visible {
	display: block;
}
.hidden{
	display: none;
}


/* Wrapper Global Settings */
.wrapper{
    width: 100%;
    max-width: 1290px;
    margin: auto; 
    padding-left: $base-page-gutter;
    padding-right: $base-page-gutter;

    @include responsiveQuery(xxl){
		padding-left: 0;
    	padding-right: 0;
	}

	&--sixty {
		width: 95%;
		@include responsiveQuery(xl) {
			width: 60%;
		}
	}
	&--seventy {
		@include responsiveQuery(l) {
			width: 70%;
		}
	}
}



//----------------------------------*\
// STYLES
//----------------------------------*/
/*
 * Highlighting colors
 */
::-webkit-selection{
	background: $highlight-background-color;
	color: $highlight-text-color;
	text-shadow: none;
}

::selection{
	background: $highlight-background-color;
	color: $highlight-text-color;
	text-shadow: none;
}

/**
 * HTML tag
 */
html {
	font-size: #{$reset-font-size}#{'%'}; // Reset HTML font size to ~10px so that REM font measurement can be easily divided
	box-sizing: border-box;
}

/**
 * Border box all the things
 */
*{
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	box-sizing: inherit;

	&:before,
	&:after{
		box-sizing: inherit;
	}
}

/**
 * BODY tag
 */
body {
	background-color: #fff;
	color: $base-font-color;
	font-family: $secondary-font-family;
	@include font-rem($base-font-size);
	line-height: #{$base-line-height};
	text-align: #{$base-text-align};
	font-weight: 300;
	letter-spacing: .1rem;
}

.content-area {
	padding-bottom: 60px;
}

article {
	padding-bottom: 60px;
}

/**
 * Body Text
 */
p {
 	padding: 0 0 20px;
 	margin: 0;
 	@include font-rem(16);
}

/*
 * Links
 */
a {
	color: $link-color;
	text-decoration: none;
	transition: all 0.3s ease;

	&:hover {
		color: $link-color-hover;
	}
}


/**
 * Lists
 */
ul,
ol {
	/*margin-top: 0;*/
	/*padding-left: $line-height-computed * 3;*/
	/*margin-bottom: $line-height-computed * 2;*/

	ul,
	ol {
		margin-bottom: 0;
	}
}


/*
 * A better looking default horizontal rule
 */
hr {
	display: block;
	padding: 0;
	background-color: $hr-color;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/*
 * Superscript
 */
sup{
	font-size: 50%;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
	resize: vertical;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
	vertical-align: middle;
}
audio,
canvas {
	display: inline-block;
}

/**
 * Images
 */
img {
	max-width: 100%;
	height: auto;
}




/**
 * Image Alignments
 */
.alignleft,
.alignright {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	@media only screen and (min-width: 37.5em) {
		display: inline;
		float: left;
	}
}

.alignright {
	@media only screen and (min-width: 37.5em) {
		display: inline;
		float: right;
	}
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft,
blockquote.alignright,
.wp-caption.alignright,
img.alignright {
	margin-top: 0.4em;
	margin-bottom: 20px;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
	clear: both;
	margin-top: 0.4em;
	margin-bottom: 20px;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
	margin-bottom: 1.2em;
}

/**
 * Media
 */

.avatar {
	border-radius: 50%;
}

img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}



embed,
iframe,
object,
video {
	margin-bottom: 1.6em;
	max-width: 100%;
	vertical-align: middle;


}
p > embed,
p > iframe,
p > object,
p > video {
	margin-bottom: 0;
}

.wp-audio-shortcode,
.wp-video,
.wp-playlist.wp-audio-playlist {
	font-size: 15px;
	font-size: 1.5rem;
	margin-top: 0;
	margin-bottom: 1.6em;
}

.wp-playlist.wp-playlist {
	padding-bottom: 0;
}

.wp-playlist .wp-playlist-tracks {
	margin-top: 0;
}

.wp-playlist-item .wp-playlist-caption {
	border-bottom: 0;
	padding: 10px 0;
}

.wp-playlist-item .wp-playlist-item-length {
	top: 10px;
}


/**
 * Captions
 */
.wp-caption {
	margin-bottom: 1.6em;
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin: 0;
	}

	&-text {
		color: #707070;
		color: rgba(51, 51, 51, 0.7);
		font-size: 12px;
		font-size: 1.2rem;
		line-height: 1.5;
		padding: 0.5em 0;
	}
}


/**
 * Responsive Embeds
 */
.embed-responsive {
	overflow: hidden;
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	padding: 0;

	.embed-responsive-item,
	iframe,
	embed,
	object,
	video {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}

	&--ar16x9 {
		padding-top: 56.25%;
	}

	&--ar4x3 {
		padding-top: 75%;
	}
}


// Clearfix
%clearfix,
.clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}



/*
 * Logged In Navigation
 */
.logged-in-nav {
	opacity: .98;
	position: fixed;
	bottom: 0px;
	left: 0;
	background: $white;
	padding: 10px 20px;
	@include font-rem(14);
	text-transform: uppercase;
	z-index: 999;

	&:hover {
		opacity: 1;
	}

	ul,
	li {
		display: inline-block;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		padding: 0 5px;

		&:before{
			content: "";
		}
	}

	a {
		text-decoration: none;
		color: $primary-color;

		&:hover{
			text-decoration: underline;
		}
	}
	/*display: none;*/
}
