.btn, .page-numbers {
	@include font-rem(18);
	padding: 8px 24px;
	display: inline-block;
	line-height: 1em;
	letter-spacing: .2rem;
	font-family: $primary-font-family;
	font-variant: small-caps;
	text-decoration: none!important;
	border: 0;
	text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3);

	&:hover {
		border-color: $tertiary-color;
		color: $tertiary-color;
	}

	&--primary {
		border: 2px solid $primary-color;
		background-color: transparent;
		color: $primary-color;
	}
	
	&--white {
		border: 2px solid $white;
		background-color: transparent;
		color: $white;
	}
}

.page-numbers {
	padding: 4px 8px;
	border: 2px solid $primary-color;
	background-color: transparent;
	color: $primary-color;

	&.next, &.prev {
		border: 0;
		padding: 0;
	}

	&.current, &.current:hover {
		border: 2px solid $gray-dark;
		color: $gray-dark;
	}
}