.pagination{
	clear:both;
	margin: 40px 0 0;
	padding:40px 0;
	position:relative;
	@include font-rem(20);
	line-height: 40px;
	border-top: 1px solid $gray-light;

	span,
	a{
		display: inline-block;
		margin: 0 8px 0 0;
		padding: 0 13px;
		width: auto;
		color: #363f47;
		background: $white;
		border: 1px solid $gray-light;
		text-decoration: none!important;
		vertical-align: middle;
		height: 40px;

		.icon-next-arrow,
		.icon-prev-arrow{
			line-height: 40px;
			@include font-rem(12);
			padding: 0 2px;
		}
	}
	a:hover{
		background: $gray;
		color: $white;
	}
	a.icon{
	    line-height: 40px;
	    @include font-rem(13);
	    vertical-align: middle;
	}
	.current{
		background: $gray;
		color: $white;
	}
}