/* Headings */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	display: block;
	padding: 0;
	margin: 0;
	color: $primary-color;
	font-family: $primary-font-family;
	font-weight: normal;
	line-height: 1.5;
	text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3);
}

h1, .h1 {
	font-variant: small-caps;
	color: $white;
	letter-spacing: .3rem;
}

@each $h, $h-size in $heading-font-sizes-small {
	#{$h}, .#{$h} {
		@include font-rem($h-size);
	}
}

@include responsiveQuery(m) {
	@each $h, $h-size in $heading-font-sizes-medium {
		#{$h}, .#{$h} {
			@include font-rem($h-size);
		}
	}
}

@include responsiveQuery(l) {
	@each $h, $h-size in $heading-font-sizes-large {
		#{$h}, .#{$h} {
			@include font-rem($h-size);
		}
	}
}