.contact-form {

	.gform_footer {
		padding: 0 !important;

		&.top_label {
			text-align: center;
		}
	}

	.gfield_label {
		font-family: $secondary-font-family;
	}

	.gform_body .gform_fields .gfield .gfield_label .gfield_required {
		color: transparent;
	}

	li.gfield .ginput_container input { width: 100%; }

	li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
		background-color: transparent !important;
		border-top: 0 !important;
		border-bottom: 0 !important;
		padding: 0 !important;
	}

	li.gfield_error {
		.gfield_label {
			color: #000 !important;
		}

		input[type="email"], input[type="number"], input[type="password"], 
		input[type="tel"], input[type="text"], input[type="url"], textarea {
			border: 1px solid #000;
		}
	}

	.validation_message {
		color: red !important;
	}

	input[type="submit"] {
		text-align: center;
		padding: 8px 24px;
		display: inline-block;
		line-height: 1em;
		letter-spacing: .2rem;
		font-family: $primary-font-family;
		font-variant: small-caps;
		text-decoration: none!important;
		border: 2px solid $primary-color;
		background-color: transparent;
		color: $primary-color;
		text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3);
		width: 40% !important;
		line-height: 2;
    	min-height: 2rem;

		&:hover {
			border-color: $tertiary-color;
			color: $tertiary-color;
		}
	}

	.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], 
	.gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
		@include font-rem(18);
	}

}
