.general_info {
	h3 {
		padding-bottom: 10px;
		padding-top: 20px;
	}
}
.faqs {
	padding-bottom: 20px;
	ul {
		padding-left: 0;
		margin-top: 0;
		list-style-type: none;

		li {
			padding: 20px 0 15px;
		}
	}
	
	&__question {
		border-bottom: 1px solid $primary-color;
		a:hover {
			text-decoration: none;
		}
		i { padding-right: 10px; }
		.rotate {
			-moz-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}

	}
	
	&__answer {
		display: none;		
	}
}