.site-footer {
	width: 100%;
	position: relative;
	color: $white;
	font-family: $primary-font-family;
	background-color: $gray-dark;
	overflow: hidden;
	@extend .clearfix;
	padding: 20px;

	@include responsiveQuery(m) {
		position: absolute;
		bottom: 0;
		z-index: 10;
		padding: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
	&__info {
		padding-top: 20px;

		@include responsiveQuery(m) {
			text-align: left;
			padding-top: 0;
			padding-left: 20px;
		}
	}

	&__navigation {
		@include responsiveQuery(m) {
			text-align: right;
		}

		ul {
			display: inline-block;
			padding: 0 20px 0 0;
			margin: 0;

			li {
				display: block;
				vertical-align: middle;

				@include responsiveQuery(m) {
					display: inline-block;
				}

				a {
					color: $white;
					padding: 20px 30px;
					display: block;

					&:hover {
						background-color: transparent;
						color: $tertiary-color;

						@include responsiveQuery(m) {
							background-color: rgba(0, 0, 0, 0.2);
						}
					}

					@include responsiveQuery(m) {
						padding: 26px 20px;
					}
				}

				&.icon {
					display: inline-block;

					a {
						padding: 20px 15px;

						@include responsiveQuery(m) {
							padding: 26px 20px;
						}
					}

					.fa {
						font-size: 30px;
					}
				}
			}

		}
	}
}
