.site-header{
	width: 100%;
	top: 0;
	position: absolute;
	z-index: 10;
	color: $white;
	background-color: rgba(0, 0, 0, 0.5);

	.site-id {

		.h3 {
			font-variant: small-caps;
			color: $white;
			padding-left: 15px;

			@include responsiveQuery(s){
				padding-left: 0;
			}

			@include responsiveQuery(l){
				font-size: 2.9rem;
			}

			&:hover{
				color: $tertiary-color;
			}
		}
	}

	.grid__item .text-right {
		padding-left: 0;
	}

	.site-id .h3, nav ul li {
		display: inline-block;
		vertical-align: middle;
	}

	.logo {
		padding: 10px 20px;
		height: 75px;
		width: auto;
		display: none;
		
		&:hover {
			-webkit-filter: drop-shadow(2px 2px 1px rgba(255,255,255,0.6));
  			filter: drop-shadow(2px 2px 1px rgba(255,255,255,0.6));
  		}

		@include responsiveQuery(s){
			display: inline-block;
		}
	}

	nav ul {
		position: relative;
		margin: 0;
		padding: 0 15px 0 0;

		li {
			position: relative;
			margin: 0;

			&:hover ul {
				display: block;
				z-index: 10;
			}

			a {
				padding: 28px 0.9em;

				&:hover {
					background-color: rgba(0, 0, 0, 0.2);
					color: $tertiary-color;
				}
			}

			a:first-child:nth-last-child(2):after {
				content: "\203A";
				padding-left: 10px;
			}
		}
	}

	a, nav ul li {
		color: $white;
		font-family: $primary-font-family;
	}

	/* Dropdown menu styling */
	.sub-menu {
		display: none;
		position: absolute;
		top: 195%;
		left: 0;
		background: rgba(0, 0, 0, 0.5);
		padding: 0;

		li {
			display: block;
			float: none;
			width: 200px;
			text-align: left;
			/*padding: 20px 30px;*/
		
			a {
				display: block;
				line-height: 120%;
				padding: 20px 30px;
			}
		}
	}

	#mobile-trigger{
		display: inline-block;
		color: $white;
        transition: all, 0.2s, ease;
        padding-right: 15px;
        font-size: 24px;
        @extend .pl__2;
        @extend .pr__2;
        @extend .pt__1;
        @extend .pb__1;

        &:hover{
            background-color: rgba(0, 0, 0, 0.2);
        }

		@include responsiveQuery(l){
			display: none;
		}
	}

	.main-navigation{
		display: none;

		@include responsiveQuery(l){
			display: block;
		}
	}
}

.site-content {
  overflow: hidden;
}


/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  /* mask color */
  z-index: 5;
  /* greater than content but less than header */
}

#status {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */

  &.h1 {
  	color: $primary-color;
  }
}