.hero {
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 20%;
	filter: opacity(.8) saturate(2.1) sepia(25%);
	margin-bottom: 60px;

	&* {
		color: $white;
	}

	&__content {
		position: relative;
        z-index: 1;
        padding: 100px 0;
        height: 100%;
        text-shadow: 8px 3px 10px #000;
        background: rgba(0, 0, 0, 0.3);

        .subtitle {
	        font-weight: 300;
	        color: white;
	        margin-bottom: 25px;
		}

		@include responsiveQuery(m){
			padding: 175px 0;
		}

		@include responsiveQuery(l){
			padding: 200px 0;
		}
	}

	&--project {
		background-position: top center;

		hr {
			width: 50%;
		}
	}

	&--page, &--category {
		background-position: top center;
	}
	
}