.categories {
	border-bottom: 1px solid $primary-color;
	margin-bottom: 40px;

	.slider {
		margin: 40px 0 60px;

		img {
			max-height: 200px;
			margin: auto;
		}
	}
}

.all_projects {
	.wrapper {
		width: 80%;
	}
	.grid__item {
		margin-top: 30px;
	}
}

.custom-pagination {
	margin-top: 30px;
	
	.page-numbers {
		@include font-rem(20);
		margin: 0 5px;
		font-family: $secondary-font-family;
		text-shadow: none;

		&.next, &.prev {
			@include font-rem(24);
		}
	}
}

.categories, .all_projects, .related_projects, .category__archive {
	.h5, .h4 {
		padding-top: 15px;
		text-align: center;
	}
	img {
		/*box-shadow: 7px 7px 13px 0px rgba(0,0,0,0.4);*/
		box-shadow: 0px 7px 36px 0px rgba(0,0,0,0.6);
		transition: all 0.3s ease;

		&:hover {
			/*box-shadow: 0px 0px 21px 6px rgba(0,0,0,0.5);*/
			box-shadow: 0px 7px 20px 1px rgba(0,0,0,0.7);
		}
	}
}

.all_projects, .related_projects, .category__archive {
	padding-bottom: 40px;
}