.search-form {
	form {
		position: relative;
		margin: 20px 0 0;

		input[type="search"] {
			padding: 8px;
			width: 50%;
			margin-left: 47px;
			background-color: rgba(0, 0, 0, 0.3);
			border: 2px solid $white;
			color: $white;

			&::placeholder {
				color: $white;
				@include font-rem(18);
			}

			@include responsiveQuery(l){
				width: 25%;
			}
		}

		.fa-search {
			text-shadow: none;
			color: $white;
			@include font-rem(18);
		}

		.search-submit {
			background-color: transparent;
			position: relative;
			right: 47px;
			border: 0;
		}
	}
}

.search-result-header {
	border-bottom: 1px solid $primary-color;
	margin-bottom: 40px;
}